<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container p-5">
        <div class="col-6">
            <h4>Notes</h4>
            <hr />
        </div>
        <div class="notes">
            <!-- AJAX Stuff Should Appear Here. -->
            {% block notes %}
            {% endblock notes %}
        </div>
        <div class="row">
            <div class="col-8">
                <form class="titleForm" action="{% url 'addTitle' %}" method="POST">
                    {% csrf_token %}
                    {{ noteForm }}
                    <button class="btn btn-primary" type="submit">Add Note</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        // AJAX Script
        $('.titleForm').submit(function(e) {
            e.preventDefault()
            $.ajax({
                url: 'add/title/',
                method: 'POST',
                data: $(this).serialize(),
                success: function(serverResponse){
                    $('.notes').html(serverResponse)
                }
            })
        })
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>